.contenedor {
    background-color: pink;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.tarjeta{
    background-color: aquamarine; 
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 8px;
    flex-wrap: wrap;
    margin: 20px;
}

  