@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f7fb;
}

h3{
    text-align: center;
}

.parrafo1 {
    font-weight: 300;
    font-size: 18px;
    font-size: 17px;
    text-align: center;
    line-height: 1.4;
}

.titulo1 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin-top: 70px;
    font-size: 45px;
    margin-top: 60px;
} 

.contenedor {
    width: 850px;
    align-content: center;
    margin-top: 60px ;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}


.tarjeta{
    background-color: #fafafa;
    border: 1px #dddfe5 solid;
    border-radius: 10px;
    width: 260px;
    height: 229px;
    box-sizing: border-box;
    margin: 10px;
    padding: 30px;
    color: #2e2e31;
    display: inline-block;
    
    
}

img{
    width: 130px;
    height: 130px;
    width: 100px;
    height: 95px;
    margin-left: 50px;
}
